<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="local" connectionString="SERVER=127.0.0.1; DATABASE=virtual_receptionist; UID=root; PASSWORD=; PORT=3306; SslMode=None;"/>
    <add name="remote" connectionString="SERVER=10.0.128.111; DATABASE=zarodolgozat_2017szeber; UID=zarodolgozat; PASSWORD=zarodolgozat; PORT=3306; SslMode=None;"/>
  </connectionStrings>
</configuration>